/Analyzer.class
/CacheManager.class
/DuplicatesFinder.class
/FileNode.class
/FileTree.class
/FileTreeFactory.class
/FileTreeListener.class
/Filter.class
/Main.class
/SystemListener.class
/ThreadManager.class
